.container-fluid {
  height: 800px;
  border: 20px solid darkgrey;
  border-top: 80px solid darkgrey;
  border-bottom: 80px solid darkgrey;
  border-radius: 12px;
  position: relative;
}

.list-group-item {
  width: 90%;
  border: 1px solid grey;
  padding-left: 2%;
  background-color: rgba(211, 211, 211, 0.973);
}