.container-frame, #root {
  height: 800px;
  border: 8px solid grey;
}

.card-text {
  width: 90%;
  border: 1px solid grey;
  margin: 8% 5% 8% 2.5%;
  padding-left: 4%;
  background-color: rgba(211, 211, 211, 0.973);
}